<%# <div class="container">
    <div class="justify-content-center m-3">
        <h4 class="row  justify-content-center">
            <i class=" fas fa-users bg-light color shadow-sm rounded-circle circle-icon"></i>
        </h4>
        <p class="row justify-content-center">Say Something!</p>
    </div>



    
        <div class="row">
            <div class="  col-9">
                <div class="card shadow-sm bg-white chatbox">
                    <div class=" card-body ">
                        <div class="news">
                            <a href="#" class="link">John Doe</a> added <a href="#" class="link">you</a> as a friend
                        </div>
                        <div class="news">
                            <a href="#" class="link">Jane Doe</a> added <a href="#" class="link">Judge Joe</a> as a friend
                        </div>
                        <div class="news">
                            <em>Judge joe</em>: Test Message
                        </div>
                    </div>    
                    <div class="card-footer ">
                        <form class="">
                            <div class="form-row ">
                                <div class=" col-md-10 mr-4">
                                    <input type="text" class="form-control  " placeholder="Type a message" >
                                </div>   
                                <div class="">
                                    <button type="submit" class="btn btn-info">Send <i class=" fas fa-edit "></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card card-body shadow-sm bg-white chatbox ">
                    <div class="nav flex-column nav-pills  bg-dark rounded " role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" data-toggle="pill" href="#link" role="tab" aria-selected="true">Home</a>
                        <a class="nav-link"  data-toggle="pill" href="#link" role="tab"  aria-selected="false">Profile</a>
                        <a class="nav-link"  data-toggle="pill" href="#link" role="tab"  aria-selected="false">Messages</a>
                        <a class="nav-link"  data-toggle="pill" href="#link" role="tab"  aria-selected="false">Settings</a>
                    </div>
                </div>
            </div>
        
        </div>
    
</div> %>

<h4 class="ui center aligned medium icon header">
  <i class="circular blue users icon"></i>
  Say Something!
</h4>

<div class="ui two column grid">
    <div class="twelve wide column">
        <div class="ui fluid raised card chatbox">
            <div class="content">
                <div class="ui feed">
                    <div class="event">
                        <div class="content">
                        <div class="summary">
                            <a>Elliot Fu</a> added <a>Jenny Hess</a> as a friend
                        </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                        <div class="summary">
                            <a>Stevie Feliciano</a> added <a>Elliot Fu</a> as a friend
                        </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                        <div class="summary">
                            <a>Helen Troy</a> added <a>Christian Rocha</a> as a friend
                        </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                        <div class="summary">
                            <em>Christian Rocha</em>: test Message
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="extra content">
                <form class="ui reply form">
                    <div class="field">
                        <div class="ui fluid icon input">
                            <input type="text" placeholder="Enter message...">
                            <i class="bordered inverted blue icon edit  "></i>
                        </div>
                    </div>   
                </form>
            </div>
        </div>
    </div>

    <div class="four wide column">
        <div class="ui fluid raised card chatbox">
            <div class="content">
                <div class="ui inverted vertical menu">
                    <a class="active item">
                        Home
                    </a>
                    <a class="item">
                        Messages
                    </a>
                    <a class="item">
                        Friends
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>