<div class="ui mini inverted menu ">
    <div class="ui container">
        <%= link_to "Chatroom", root_path, class: "item" %>
        <a class="item">
            Messages
        </a>
        <div class="right menu">
            
            <form class="form-inline ">
                <div class="nav-item dropdown">
                    <a class="btn ui primary button  dropdown-toggle py-2 " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <%= link_to "Log in", login_path, class: "dropdown-item" %>
                        <a class="dropdown-item" href="#">Log out</a>
                        <a class="dropdown-item" href="#">Sign up</a>
                    </div>
                </div>
            </form>
            
            <div class="item">
                <div class="ui primary button">Sign Up</div>
            </div>
        </div>
    </div>
</div>