<div class="ui mini inverted menu ">
    <div class="ui container">
        <%= link_to "Chatroom", root_path, class: "item" %>
        <a class="item">
            Messages
        </a>
        <div class="right menu">
            
            <form class="form-inline ">
                <div class="nav-item dropdown">
                    <a class="btn ui primary button  dropdown-toggle py-2 " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <% if logged_in? %>
                            <%= link_to "Logout", logout_path, method: :delete, class: "dropdown-item" %>  
                        <% else %>
                            <%= link_to "Log in", login_path, class: "dropdown-item" %>
                        <% end %>
                    </div>
                </div>
            </form>
            <% if !logged_in? %>
                <div class="item">
                    <%= link_to "Log in", login_path, class: "ui primary button" %>
                </div>
            <% end %>
        </div>
    </div>
</div>